/* top fixed 2.2  */
.absolute1 {
    position: relative;
    width: 32px;

}

.absolute1>p {
    position: absolute;
    top: 0px;
    font-weight: 600;
    font-size: xx-large;
    margin: 0 0px 0 0;
    color: rgba(179, 179, 179, 0.652);

}

.box-img-text {
    padding-left: 24px;

}





.container-border-bottom {
    border-bottom: 1px solid rgb(41, 41, 41);

    padding-bottom: 0.25rem;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;

}

.top-left-right {
    display: flex;
    justify-content: space-between;


    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;


    flex-flow: row nowrap;
    position: relative;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}

.top-left-right>a {
    margin-left: 5%;
}

.nav-top {
    display: flex;
    align-items: center;
    padding-right: 5%;



}

.nav-bar {
    display: flex;

    flex-direction: row;

    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;

}



.flex {
    display: flex;
}


.container2>h1 {
    font-size: xxx-large;
    font-weight: 900;
}





/* PARTE HEADER */


.container-m>svg {
    padding-top: 23px;

}


body {
    margin: 0px;
    font-family: robot;
}

.yellow {
    background-color: #FFC017;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

.b-Basso {
    border-bottom: 2px solid black;
    display: flex;
    padding: 0px 0px 0px 10%;

}


.container {
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
}

ul {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    margin: 0px 10px 0px 10px;
    display: block;
    flex: 0 1 auto;
    /* Default */
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.top {
    height: 50px;
    padding-top: 30px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}


.container2 {
    padding: 100px 0% 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}



nav a svg {
    padding-right: 400px;
}

.fa-solid,
h5 {
    display: inline-block;
}

.container-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title-c-articles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.relative {
    display: flex;
    flex-direction: row;
    width: 29%;
}

.container-title-colecction {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0% 10% 0% 10%;
    border-bottom: 2px solid gray;
}

/* stick image with autor name */
.img-autor {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-gray {
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text-star {
    display: flex;
    align-items: center;
}


/* PART LEFT BOTTOM */

.part-img-left>img {

    width: 80%;

}

/* PART RIGHT BOTTOM */

.part-top {
    border-bottom: 1.5px solid gray;
    display: flex;
    flex-direction: column;
}

.border-gray {
    display: inline-block;
    border: 1px solid gray;
}


/* union text img, di parte left bottom */
.union-text-img {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/* part together bottom */


.containerBottom-left-right {
    display: flex;
    flex-direction: row;
    padding: 0% 10% 0% 10%;
    margin-top: 3rem;
    justify-content: space-between;


}



/* pparte sinistra dellla pagina in bottom */

.part-text-left {
    width: 65%;
}

.part-img-left {
    width: 35%;
}


/* make image autor a bubble  */
.img-autor>img {
    border-radius: 20px;
    width: 20px;
    padding-right: 5px;
}


.container-colum-right {
    display: flex;
    width: 40%;
    flex-direction: column;
}


.container-colum-left {
    width: 60%;
}

.part-top>.row-colection {
    display: flex;
    flex-wrap: wrap;
}

.part-bottom {
    margin-top: 2.5rem;
}


.part-bottom>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.part-bottom>ul>li {
    padding: .2rem;
}

.border-gray {
    display: inline-block;
    border: 1px solid gray;
    margin: 0.5rem;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
}



.bg-gray-circle {
    background: #8080801f;
    border-radius: 10px;
    padding: 0.15rem 0.5rem;
}

.button-black {
    padding: .5rem;
    border-radius: 15px;
    color: white;
    background-color: #191919;
}