/* PARTE HEADER */

body {
    margin: 0px;
}

.yellow {
    background-color: #FFC017;
}

.fixed {
    position: fixed;
    width: 100%;
}

.b-Basso {
    border-bottom: 2px solid black;
    display: flex;

}


.container {
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
}

ul {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    margin: 0px 10px 0px 10px;
    display: block;
    flex: 0 1 auto;
    /* Default */
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.top {
    height: 50px;
    padding-top: 30px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}


.container2 {
    padding: 70px 10% 0% 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}



nav a svg {
    padding-right: 400px;
}

.fa-solid,
h5 {
    display: inline-block;
}

.container-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title-c-articles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.relative {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.container-title-colecction {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0% 10% 0% 10%;
    border-bottom: 2px solid gray;
}

/* stick image with autor name */
.img-autor {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-gray {
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text-star {
    display: flex;
    align-items: center;
}


/* PART LEFT BOTTOM */

.part-img-left>img {

    width: 80%;

}

/* PART RIGHT BOTTOM */

.part-top {
    border-bottom: 1.5px solid gray;
    display: flex;
    flex-direction: column;
}

.border-gray {
    display: inline-block;
    border: 1px solid gray;
}


/* union text img, di parte left bottom */
.union-text-img {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/* part together bottom */


.containerBottom-left-right {
    display: flex;
    flex-direction: row;
    padding: 0% 10% 0% 10%;
    margin-top: 3rem;
    justify-content: space-between;


}



/* pparte sinistra dellla pagina in bottom */

.part-text-left {
    width: 65%;
}

.part-img-left {
    width: 35%;
}


/* make image autor a bubble  */
.img-autor>img {
    border-radius: 20px;
}


.container-colum-right {
    display: flex;
    width: 30%;
    flex-direction: column;
}


.container-colum-left {
    width: 60%;
}




.part-top>.row-colection {
    display: flex;
    flex-wrap: wrap;
}

.part-bottom {
    margin-top: 2.5rem;
}


.part-bottom>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.part-bottom>ul>li {
    padding: .2rem;
}

.border-gray {
    display: inline-block;
    border: 1px solid gray;
    margin: 0.5rem;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
}



.bg-gray-circle {
    background: #8080801f;
    border-radius: 10px;
    padding: 0.15rem 0.5rem;
}